includes:
	- phpstan-baseline.neon

parameters:
	level: 9
	checkGenericClassInNonGenericObjectType: false
	universalObjectCratesClasses:
		- Spatie\Permission\Contracts\Role
		- Spatie\Permission\Contracts\Permission
		- Illuminate\Foundation\Auth\User
		- Illuminate\Database\Eloquent\Model
	paths:
		- src
	ignoreErrors: