.main
{
	height: 100%;
}

.main .content-admin,
.main header
{

	width: 100% !important;
	float:none;
}

.main.visibility-menu .content-admin,
.main.visibility-menu header
{
	margin-left: 230px;
}

.main .sidebar
{
	overflow-y: auto;
	position: fixed;
	height: 100%;
	width: 230px;
	float:left;
	margin-left: -230px;
}

.main.visibility-menu .sidebar
{
	margin-left: 0px;
}

.main .sidebar::-webkit-scrollbar
{
	width: 5px;
	background: transparent;
}

.main .sidebar::-webkit-scrollbar-thumb
{
	/* background: #56aeff; */
	border-radius: 20px;
	-webkit-border-radius: 1ex;
}

.main .sidebar .menu-sidebar > p
{
	font-size: 13px
}

.main .sidebar .menu-sidebar a
{
	color:#fff;
	font-size: 13px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-weight: 500;
	transition:  ease 150ms

}

.main .sidebar .menu-sidebar a:hover,
.main .sidebar .menu-sidebar a.active
{
	background-color: rgba(255,255,255, 0.12);
}

.main .sidebar .menu-sidebar a.active
{
	color:#fff;
}

.main .sidebar .menu-sidebar a i
{
	width:  25px;
	margin-right: 17px;
	font-size: 20px;
	text-align: center
}

.main header .menu-header i.menu-icon
{
	font-size: 27px;
}

.main header .sidebar-toggler
{
	font-size: 18px;
	width: 38px;
	height: 38px;
	border-radius: 50px;
	align-items: center;
}

.main header .sidebar-toggler:hover
{
	background-color: #eceff4;
}

.main .content-admin
{
	padding-top: 70px;
	height: 100%;
}

.main .content-admin,
.main header,
.main .sidebar
{
	transition: margin 350ms cubic-bezier(0.65, 0.05, 0.36, 1), 
	width 350ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.table tr td,
.table tr th
{
	align-self: center !important;
	white-space: nowrap;
}

.table-responsive
{
	margin-left: -15px;
	margin-right: -15px;
}

.dropdown-user
{
	width: 300px
}

@media(min-width: 768px)
{
	.table-responsive
	{
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media(min-width: 992px)
{
	.main .sidebar
	{
		margin-left: 0px;
	}

	.main .content-admin,
	.main header
	{
		margin-left: 230px;
		width: calc(100% - 230px) !important
	}

	.main.visibility-menu .sidebar
	{
		margin-left: -230px;
	}

	.main.visibility-menu.visibility-menu .content-admin,
	.main.visibility-menu header
	{
		margin-left: 0px;
		width: 100% !important
	}
}